<include href="views/header.html"></include>


<header id="dashboard-header" class="pt-5">
    <h1 class="text-center text-white text-uppercase">dashboard</h1>
</header>
<br>

<div class="container-fluid form-row">
    <div class="form-group col-lg-3 col-md-6 col-sm-6 order-2 order-lg-1 mx-auto">
        <div class="card bg-white shadow">
            <div class="card-body">
                <h3 class="text-center">Notifications</h3>
                <hr>
                <repeat group="{{ @recentRows }}" value="{{ @row }}">
                    <p><strong>{{ @row.submissionTime[1] }}, {{ @row.submissionTime[0] }} &#8594;</strong> {{ @row.firstName }} {{ @row.lastName }} submitted a new patron form
                        </p>
                </repeat>
            </div>
        </div>
    </div>

    <div class="form-group col-lg-6 col-md-11 col-sm-11 order-sm-1 order-md-1 order-lg-2 mx-auto">
        <div class="card bg-white shadow">
            <div class="card-body">
                <h3 class="text-center">{{ @SESSION['currentDate'] }}</h3>
                <hr>

                <table class="thick-border tableWidth mx-auto table-striped">
                    <thead class="table-dark">
                    <tr class="thick-border">
                        <th id="timeColumn" class="thick-border text-center">Time</th>
                        <th class="thick-border text-center">SHD-1</th>
                        <th class="thick-border text-center">SHD-2</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="thick-border text-center">8:00am - 9:00am</td>
                        <td class="thick-border text-center">{{ @hour89HistorySHD1 }}</td>
                        <td class="thick-border text-center">{{ @hour89HistorySHD2 }}</td>
                    </tr>
                    <tr>
                        <td class="thick-border text-center">9:00am - 10:00am</td>
                        <td class="thick-border text-center">{{ @hour910HistorySHD1 }}</td>
                        <td class="thick-border text-center">{{ @hour910HistorySHD2 }}</td>
                    </tr>
                    <tr>
                        <td class="thick-border text-center">10:00am - 11:00am</td>
                        <td class="thick-border text-center">{{ @hour1011HistorySHD1 }}</td>
                        <td class="thick-border text-center">{{ @hour1011HistorySHD2 }}</td>
                    </tr>
                    <tr>
                        <td class="thick-border text-center">11:00am - 12:00pm</td>
                        <td class="thick-border text-center">{{ @hour1112HistorySHD1 }}</td>
                        <td class="thick-border text-center">{{ @hour1112HistorySHD2 }}</td>
                    </tr>
                    <tr>
                        <td class="thick-border text-center">12:00pm - 1:00pm</td>
                        <td class="thick-border text-center">{{ @hour1213HistorySHD1 }}</td>
                        <td class="thick-border text-center">{{ @hour1213HistorySHD2 }}</td>
                    </tr>
                    <tr>
                        <td class="thick-border text-center">1:00pm - 2:00pm</td>
                        <td class="thick-border text-center">{{ @hour1314HistorySHD1 }}</td>
                        <td class="thick-border text-center">{{ @hour1314HistorySHD2 }}</td>
                    </tr>
                    <tr>
                        <td class="thick-border text-center">2:00pm - 3:00pm</td>
                        <td class="thick-border text-center">{{ @hour1415HistorySHD1 }}</td>
                        <td class="thick-border text-center">{{ @hour1415HistorySHD2 }}</td>
                    </tr>
                    <tr>
                        <td class="thick-border text-center">3:00pm - 4:00pm</td>
                        <td class="thick-border text-center">{{ @hour1516HistorySHD1 }}</td>
                        <td class="thick-border text-center">{{ @hour1516HistorySHD2 }}</td>
                    </tr>
                    <tr>
                        <td class="thick-border text-center">4:00pm - 5:00pm</td>
                        <td class="thick-border text-center">{{ @hour1617HistorySHD1 }}</td>
                        <td class="thick-border text-center">{{ @hour1617HistorySHD2 }}</td>
                    </tr>
                    <tr>
                        <td class="thick-border text-center">5:00pm - 6:00pm</td>
                        <td class="thick-border text-center">{{ @hour1718HistorySHD1 }}</td>
                        <td class="thick-border text-center">{{ @hour1718HistorySHD2 }}</td>
                    </tr>
                    <tr>
                        <td class="thick-border text-center">6:00pm - 7:00pm</td>
                        <td class="thick-border text-center">{{ @hour1819HistorySHD1 }}</td>
                        <td class="thick-border text-center">{{ @hour1819HistorySHD2 }}</td>
                    </tr>
                    </tbody>
                </table>
                <br><br>
                <div class="ml-auto mr-auto text-center">
                    <form action="form">
                        <input class="rounded shadow text-decoration-none" id="newFormButton" type="submit"
                               value="New Patron Form"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group col-lg-3 col-md-5 col-sm-5 order-3 order-lg-3 mx-auto">
        <div class="card bg-white shadow">
            <div class="card-body">
                <h3 class="text-center">Key Stats</h3>
                <hr>
                <ul class="list-unstyled text-center">
                    <li>Total Patrons Today</li>
                    <li class="large-font"><strong>{{ @totalPatronsToday }}</strong></li>
                    <br>
                    <li>Average Patrons Per Hour</li>
                    <li class="large-font"><strong>{{ @avgPatronsHour }}</strong></li>
                    <br>
                    <li>Average Patrons Per Day</li>
                    <li class="large-font"><strong>15</strong></li>
                    <br>
                    <li>Total Patrons This Week</li>
                    <li class="large-font"><strong>31</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br><br>

<include href="views/footer.html"></include>
