<include href="views/header.html"></include>

<header id="form-header" class="pt-5">
    <h1 class="center-text align-self-center text-white text-uppercase">Patron Form</h1>
</header>

<div class="content-wrap pb-5">
    <form id="formpg" class="container border mt-4 shadow bg-white" method="post" action="#">
        <div id="inner-form" class="pb-5 pt-5">
            <label for="name"><strong>Employee Name:</strong></label>
            <input class="form-control" type="text" id="name" name="name" value="{{ @employeeName }}">

            <check if="{{ isset(@errors['employeeName']) }}">
                <span class="text-danger">{{ @errors['employeeName'] }}</span>
            </check>
            <br>

            <div class="row">
                <div class="col">
                    <label><strong>Time:</strong></label>
                    <input class="form-control" type="time" name="time" value="{{ @clientTime }}"><br>

                    <check if="{{ isset(@errors['time']) }}">
                        <span class="text-danger">{{ @errors['time'] }}</span>
                    </check>
                </div>
                <div class="col">
                    <label><strong>Date:</strong></label>
                    <input class="form-control" type="date" name="date" value="{{ $clientDate }}"><br>

                    <check class="text-danger" if="{{ isset(@errors['date']) }}">
                        <span class="text-danger">{{ @errors['date'] }}</span>
                    </check>
                </div>
            </div>
            <br>

            <label><strong>Position:&emsp;</strong></label>
            <repeat group="{{ @positions }}" value="{{ @position }}">
                <label><input type="radio" name="position" id="{{ @position }}" value="{{ @position }}"
                    <check if="{{ @position == @employeePosition }}">checked</check>
                    > {{ucfirst(@position) }}
                    </input></label>&emsp;
            </repeat>

            <check if="{{ isset(@errors['employeePosition']) }}">
                <span class="text-danger">{{ @errors['employeePosition'] }}</span>
            </check>
            <br><br>

            <label><strong>Contact Method:&emsp;</strong></label>
            <repeat group="{{ @methods }}" value="{{ @method }}">
                <label><input type="radio" name="method" id="{{ @method }}" value="{{ @method }}"
                    <check if="{{ @method == @clientMethod }}">checked</check>
                    > {{ucfirst(@method) }}
                    </input></label>&emsp;
            </repeat>

            <check if="{{ isset(@errors['clientMethod']) }}">
                <span class="text-danger">{{ @errors['clientMethod'] }}</span>
            </check>
            <br><br>

            <label for="location"><strong>Location:</strong></label>
            <select class="form-control" id="location" name="location">
                <option selected></option>
                <repeat group="{{ @locations }}" value="{{ @location }}">
                    <option value="{{ @location }}"
                    <check if="{{ @location == @clientLocation }}">selected</check>
                    > {{ ucfirst(@location) }}</option>
                </repeat>
                <option value="unknown"
                <check if="{{ @unknown == @clientLocation }}">selected</check>>Unknown</option>
                <option value="other"
                <check if="{{ @other == @clientLocation }}">selected</check>>Other...</option>
            </select>

            <check if="{{ isset(@errors['clientLocation']) }}">
                <span class="text-danger">{{ @errors['clientLocation'] }}</span>
            </check>
            <br>

            <div id="otherLocation" class="d-none">
                <label for="locationOther"><strong>Other Location: </strong></label>
                <input class="form-control" type="text" id="locationOther" name="locationOther"
                       value="{{ @clientLocationOther }}">

                <check if="{{ isset(@errors['otherLocation']) }}">
                    <span class="text-danger">{{ @errors['otherLocation'] }}</span>
                </check>
                <br>
            </div>

            <label for="question"><strong>Question:</strong></label>
            <select class="form-control" id="question" name="question">
                <option selected></option>
                <repeat group="{{ @questions }}" value="{{ @question }}">
                    <option value="{{ @question }}"
                    <check if="{{ @question == @clientQuestion }}">selected</check>
                    >{{ ucfirst(@question) }}</option>
                </repeat>
                <option value="other"
                <check if="{{ @other == @clientQuestion }}">selected</check>>Other...</option>
            </select>

            <check if="{{ isset(@errors['clientQuestion']) }}">
                <span class="text-danger">{{ @errors['clientQuestion'] }}</span>
            </check>
            <br>

            <div id="otherQuestion" class="d-none">
                <label for="questionOther"><strong>Other Question: </strong></label>
                <input class="form-control" type="text" id="questionOther" name="questionOther"
                       value="{{ @clientQuestionOther }}">

                <check if="{{ isset(@errors['otherQuestion']) }}">
                    <span class="text-danger">{{ @errors['otherQuestion'] }}</span>
                </check>
                <br>
            </div>

        <!--    <label><strong>Incident Report:&emsp;</strong></label>
            <repeat group="{{ @incidentReports }}" value="{{ @incidentReport }}">
                <label><input type="radio" name="incidentReport" id="{{ @incidentReport }}"
                              value="{{ @incidentReport }}"
                    <check if="{{ @incidentReport == @clientIncidentReport }}">checked</check>
                    > {{ucfirst(@incidentReport) }}
                </label>
            </repeat>-->

            <div>
                <label class="font-weight-bold">
                <input type="checkbox" id="incidentReport" name="incidentReport" value="incidentReport"
                    <check if="{{ @incidentReport == @clientIncidentReport }}">checked</check>
                    > {{ucfirst(@incidentReport) }}
                     Incident Report
                </label>
            </div>

            <check if="{{ isset(@errors['clientIncidentReport']) }}">
                <span class="text-danger">{{ @errors['clientIncidentReport'] }}</span>
            </check>
            <br><br>

            <div id="incNumDiv" class="d-none">
                <label for="incidentNum"><strong>Incident Report Number:</strong></label>
                <input class="form-control" type="text" id="incidentNum" name="incidentNum"
                       value="{{ @clientIncReportNum }}">

                <check if="{{ isset(@errors['clientIncReportNum']) }}">
                    <span class="text-danger">{{ @errors['clientIncReportNum'] }}</span>
                </check>
                <br>
            </div>
            <br>

            <label for="comments"><strong>Comments:</strong></label>
            <textarea class="form-control" id="comments" name="comments" rows="2" value="{{ @clientComments }}">{{ @clientComments }}</textarea>

            <check if="{{ isset(@errors['comments']) }}">
                <span class="text-danger">{{ @errors['comments'] }}</span>
            </check>
            <br><br>

            <input type="submit" class="submit-form rounded" value="Submit">
        </div>
    </form>
</div>

<include href="views/footer.html"></include>
