<include href="views/header.html"></include>

<div class="content-wrap pt-4 pb-5">
    <h1 class="text-center">Form</h1>
    <form id="formpg" class="container border mt-4" method="post" action="#">
        <div class="p-5">

            <label for="name">Employee Name: </label>
            <input class="form-control" type="text" id="name" name="name" value="{{ @employeeName }}">
            <check if="{{ isset(@errors['name']) }}">{{ @errors['name'] }}</check>
            <br>

            <div class="row">
                <div class="col">
                    <label>Time:</label>
                    <input class="form-control" type="time" name="time" value="{{ @clientTime }}"><br>
                </div>
                <div class="col">
                    <label>Date:</label>
                    <input class="form-control" type="date" name="date" value="{{ $clientDate }}"><br>
                </div>
            </div>
<br>
            <label>Position:</label>
            <repeat group="{{ @positions }}" value="{{ @position }}">
                <label><input type="radio" name="position" id="{{ @position }}" value="{{ @position }}"
                    <check if="{{ @position == @employeePosition }}">checked</check>
                    > {{ucfirst(@position) }}
                    </input></label>&emsp;
            </repeat>
            <check if="{{ isset(@errors['position']) }}">
                {{ @errors['position'] }}
            </check>
            <br><br>

            <label>Contact Method: </label>
            <repeat group="{{ @methods }}" value="{{ @method }}">
                <label><input type="radio" name="method" id="{{ @method }}" value="{{ @method }}"
                    <check if="{{ @method == @clientMethod }}">checked</check>
                    > {{ucfirst(@method) }}
                    </input></label>&emsp;
            </repeat>
            <check if="{{ isset(@errors['method']) }}">
                {{ @errors['method'] }}
            </check>
            <br><br>

            <label for="location">Location: </label>
            <select class="form-control" id="location" name="location">
                <option selected>Choose...</option>
                <repeat group="{{ @locations }}" value="{{ @location }}">
                    <option value="{{ @location }}"
                    <check if="{{ @location == @clientLocation }}">selected</check>
                    >
                    {{ ucfirst(@location) }}</option>
                </repeat>
                <option value="otherLocation">Other...</option>
            </select><br>

            <div id="otherLocation" class="d-none">
                <label for="locationOther">Other Location: </label>
                <input class="form-control" type="text" id="locationOther" name="locationOther"
                       value="{{ @clientLocationOther }}">
                <check if="{{ isset(@errors['clientLocationOther']) }}">
                    {{ @errors['clientLocationOther'] }}
                </check>
                <br>
            </div>

            <label for="question">Question: </label>
            <select class="form-control" id="question" name="question">
                <option selected>Choose...</option>
                <repeat group="{{ @questions }}" value="{{ @question }}">
                    <option value="question">{{ ucfirst(@question) }}</option>
                </repeat>
                <option value="otherQuestion">Other...</option>
            </select><br>

            <div id="otherQuestion" class="d-none">
                <label for="questionOther">Other Question: </label>
                <input class="form-control" type="text" id="questionOther" name="questionOther"
                       value="{{ @clientQuestionOther }}">
                <check if="{{ isset(@errors['clientQuestionOther']) }}">
                    {{ @errors['clientQuestionOther'] }}
                </check>
                <br>
            </div>

            <label>Incident Report:</label>
            <repeat group="{{ @incidentReports }}" value="{{ @incidentReport }}">
                <label><input type="radio" name="incidentReport" id="{{ @incidentReport }}"
                              value="{{ @incidentReport }}"
                    <check if="{{ @incidentReport == @clientIncidentReport }}">checked</check>
                    > {{ucfirst(@incidentReport) }}
                    </input></label>&emsp;
            </repeat>
            <check if="{{ isset(@errors['incidentReport']) }}">
                {{ @errors['incidentReport'] }}
            </check>
            <br><br>

            <div id="incNumDiv">
                <label for="incidentNum">Incident Report Number: </label>
                <input class="form-control" type="text" id="incidentNum" name="incidentNum" value="{{ @clientIncReportNum }}">
                <check if="{{ isset(@errors['clientIncReportNum']) }}">
                    {{ @errors['clientIncReportNum'] }}
                </check>
                <br>
            </div>
            <br>
                <label for="comments">Comments:</label>
                <textarea class="form-control" id="comments" name="comments" rows="2" value="{{ @clientComments }}">{{ @clientComments }}</textarea>
                <check if="{{ isset(@errors['comments']) }}">
                    {{ @errors['comments'] }}
                </check>
            <br><br>

            <input type="submit" class="submit-login rounded" value="Submit">
        </div>

    </form>
</div>

<include href="views/footer.html"></include>
