<include href="views/header.html"></include>


<div class="content-wrap pt-4 pb-5">
    <h1 class="text-center">Form</h1>
    <div class="container border mt-4">
<form method="post" action="#">
    <label>Employee Name: </label><br>
    <label>Time:</label><br>
    <label>Date:</label><br>
    <label>Position:</label><br>
    <label>Contact Method:</label><br>
    <label>Location:</label><br>
    &emsp;<label>Other:</label><br>
    <label>Question:</label><br>
    &emsp;<label>Other:</label><br>
    <label>Incident Report:</label><br>
    &emsp;<label>Incident Report Number:</label><br>
    <label>Comments:</label><br>
</form>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="//code.jquery.com/jquery.js"></script>
<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="scripts/navbar.js"></script>
</body>
</html>
