<include href="views/header.html"></include>


<header id="status-header" class="pt-5">
    <h1 class="center-text text-white text-uppercase">status</h1>
</header>
<br>

<div class="container-fluid form-row">
    <div class="form-group col-md-3">
        <div class="card bg-white shadow">
            <div class="card-body">
                <h3 class="center-text">Notifications</h3>
                <hr>
                <p>{{ @notifications }}</p>
            </div>
        </div>
    </div>

    <div class="form-group col-md-6">
        <div class="card bg-white shadow">
            <div class="card-body">
                <h3 class="center-text">{{ @SESSION['currentDate'] }}</h3>
                <hr>

                <table class="thick-border width-80 center-table">
                    <tr class="thick-border">
                        <th style="width: 40%;" class="thick-border center-text">Time</th>
                        <th class="thick-border center-text">SHD-1</th>
                        <th class="thick-border center-text">SHD-2</th>
                    </tr>

                    <tr>
                        <td class="thick-border right-text">8:00 - 9:00&nbsp;&nbsp;</td>
                        <td class="skinny-border">{{ @hour8-9HistorySHD1 }}</td>
                        <td class="skinny-border">{{ @hour8-9HistorySHD2 }}</td>
                    </tr>
                    <tr>
                        <td class="thick-border right-text">9:00 - 10:00&nbsp;&nbsp;</td>
                        <td class="skinny-border"></td>
                        <td class="skinny-border"></td>
                    </tr>
                    <tr>
                        <td class="thick-border right-text">10:00 - 11:00&nbsp;&nbsp;</td>
                        <td class="skinny-border"></td>
                        <td class="skinny-border"></td>
                    </tr>
                    <tr>
                        <td class="thick-border right-text">11:00 - 12:00&nbsp;&nbsp;</td>
                        <td class="skinny-border"></td>
                        <td class="skinny-border"></td>
                    </tr>
                    <tr>
                        <td class="thick-border right-text">12:00 - 1:00&nbsp;&nbsp;</td>
                        <td class="skinny-border"></td>
                        <td class="skinny-border"></td>
                    </tr>
                    <tr>
                        <td class="thick-border right-text">1:00 - 2:00&nbsp;&nbsp;</td>
                        <td class="skinny-border"></td>
                        <td class="skinny-border"></td>
                    </tr>
                    <tr>
                        <td class="thick-border right-text">2:00 - 3:00&nbsp;&nbsp;</td>
                        <td class="skinny-border"></td>
                        <td class="skinny-border"></td>
                    </tr>
                    <tr>
                        <td class="thick-border right-text">3:00 - 4:00&nbsp;&nbsp;</td>
                        <td class="skinny-border"></td>
                        <td class="skinny-border"></td>
                    </tr>
                    <tr>
                        <td class="thick-border right-text">4:00 - 5:00&nbsp;&nbsp;</td>
                        <td class="skinny-border"></td>
                        <td class="skinny-border"></td>
                    </tr>
                    <tr>
                        <td class="thick-border right-text">5:00 - 6:00&nbsp;&nbsp;</td>
                        <td class="skinny-border"></td>
                        <td class="skinny-border"></td>
                    </tr>
                    <tr>
                        <td class="thick-border right-text">6:00 - 7:00&nbsp;&nbsp;</td>
                        <td class="skinny-border"></td>
                        <td class="skinny-border"></td>
                    </tr>
                </table>
                <br><br>
                <div class="ml-auto mr-auto text-center">
                    <button type="button" class="rounded shadow text-decoration-none" id="newFormButton"><a href="form">New Patron Form</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group col-md-3">
        <div class="card bg-white shadow">
            <div class="card-body">
                <h3 class="center-text">Daily Stats</h3>
                <hr>
                <ul class="list-unstyled center-text">
                    <li>Total Patrons Today</li>
                    <li class="large-font"><strong>{{ @dayHistory.totalIncidents }}</strong></li>
                    <br>
                    <li>Average Patrons Per Hour</li>
                    <li class="large-font"><strong>2</strong></li>
                    <br>
                    <li>Average Patrons Per Day</li>
                    <li class="large-font"><strong>15</strong></li>
                    <br>
                    <li>Total Patrons This Week</li>
                    <li class="large-font"><strong>31</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br><br>

<include href="views/footer.html"></include>
