<include href="views/header.html"></include>

<h1 class="center-text">Status</h1>

<div class="container-fluid row">
    <div class="col-3">
        <h3 class="center-text">Notifications</h3>
    </div>

    <div class="col-6">
        <h3 class="center-text">Today</h3>

        <table>

        </table>
    </div>

    <div class="col-3">
        <h3 class="center-text">Daily Stats</h3>

        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<form class="center-text" method="post" action="form">
    <input type="submit" class="submit-login rounded" value="New Patron Form">
</form>

<include href="views/footer.html"></include>
