<include href="views/header.html"></include>


<!--##################    HEADER    ##################-->
<header id="status-header">
    <h1 class="center-text text-white">STATUS</h1>
</header>
<br>

<div class="container-fluid form-row">
    <div class="form-group col-md-3">
        <div class="card bg-white shadow">
            <div class="card-body">
                <h3 class="center-text">Notifications</h3>
                <hr>
            </div>
        </div>
    </div>

    <div class="form-group col-md-6">
        <div class="card bg-white shadow">
            <div class="card-body">
                <h3 class="center-text">Today</h3>
                <hr>

                <table class="thick-border width-80 center-table">
                    <tr class="thick-border">
                        <th style="width: 45%;" class="thick-border center-text">Time</th>
                        <th class="skinny-border center-text">SHD-1</th>
                        <th class="skinny-border center-text">SHD-2</th>
                    </tr>

                    <tr>
                        <td class="skinny-border center-text">8:00 am - 9:00 am</td>
                        <td class="skinny-border"></td>
                        <td class="skinny-border"></td>
                    </tr>
                    <tr>
                        <td class="skinny-border center-text">9:00 am - 10:00 am</td>
                        <td class="skinny-border"></td>
                        <td class="skinny-border"></td>
                    </tr>
                    <tr>
                        <td class="skinny-border center-text">10:00 am - 11:00 am</td>
                        <td class="skinny-border"></td>
                        <td class="skinny-border"></td>
                    </tr>
                    <tr>
                        <td class="skinny-border center-text">11:00 am - 12:00 pm</td>
                        <td class="skinny-border"></td>
                        <td class="skinny-border"></td>
                    </tr>
                    <tr>
                        <td class="skinny-border center-text">12:00 pm - 1:00 pm</td>
                        <td class="skinny-border"></td>
                        <td class="skinny-border"></td>
                    </tr>
                    <tr>
                        <td class="skinny-border center-text">1:00 pm - 2:00 pm</td>
                        <td class="skinny-border"></td>
                        <td class="skinny-border"></td>
                    </tr>
                    <tr>
                        <td class="skinny-border center-text">2:00 pm - 3:00 pm</td>
                        <td class="skinny-border"></td>
                        <td class="skinny-border"></td>
                    </tr>
                    <tr>
                        <td class="skinny-border center-text">3:00 pm - 4:00 pm</td>
                        <td class="skinny-border"></td>
                        <td class="skinny-border"></td>
                    </tr>
                    <tr>
                        <td class="skinny-border center-text">4:00 pm - 5:00 pm</td>
                        <td class="skinny-border"></td>
                        <td class="skinny-border"></td>
                    </tr>
                    <tr>
                        <td class="skinny-border center-text">5:00 pm - 6:00 pm</td>
                        <td class="skinny-border"></td>
                        <td class="skinny-border"></td>
                    </tr>
                    <tr>
                        <td class="skinny-border center-text">6:00 pm - 7:00 pm</td>
                        <td class="skinny-border"></td>
                        <td class="skinny-border"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="form-group col-md-3">
        <div class="card bg-white shadow">
            <div class="card-body">
                <h3 class="center-text">Daily Stats</h3>
                <hr>
                <br>
                <ul class="list-unstyled center-text">
                    <li>Total Patrons Today</li>
                    <li class="large-font"><strong>16</strong></li>
                    <br>
                    <li>Average Patrons Per Hour</li>
                    <li class="large-font"><strong>2</strong></li>
                    <br>
                    <li>Average Patrons Per Day</li>
                    <li class="large-font"><strong>15</strong></li>
                    <br>
                    <li>Total Patrons This Week</li>
                    <li class="large-font"><strong>31</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<form class="center-text" method="post" action="form">
    <input type="submit" class="submit rounded shadow" id="status-submit" value="New Patron Form">
</form>
<br><br>

<include href="views/footer.html"></include>
