<include href="views/header.html"></include>

<br><br><br>
<div id="submitted-form" class="content-wrap pt-5 pb-5">
    <div class="card bg-white shadow mx-auto">
        <div class="card-body">
            <h1 class="text-center">Thank You for Your Submission!</h1>
            <hr>
            <h5 class="text-center">You and Your Manager Should Receive a Confirmation Email Shortly. View Your
                Submission Summary
                Below:</h5>
        </div>
    </div>
    <br>


    <div class="card bg-white shadow mx-auto">
        <div class="card-body">
            <h4 class="text-center">Submission Summary:</h4>
            <hr>
            <table id="submissionTable">
                <tbody>
                <tr>
                    <th class="pb-1 pl-3">Employee Name:</th>
                    <td>{{ @SESSION.employeeName }}</td>
                </tr>
                <tr>
                    <th class="pb-1 pl-3">Date:</th>
                    <td>{{ @SESSION.incident->getDateHelped() }}</td>
                </tr>
                <tr>
                    <th class="pb-1 pl-3">Position:</th>
                    <td>{{ @SESSION.incident->getPosition() }}</td>
                </tr>
                <tr>
                    <th class="pb-1 pl-3">Contact Method:</th>
                    <td>{{ ucfirst(@SESSION.incident->getContactMethod()) }}</td>
                </tr>
                <tr>
                    <th class="pb-1 pl-3">Location:</th>
                    <td>{{ ucfirst(@SESSION.incident->getLocation()) }}</td>
                </tr>
                <tr>
                    <th class="pb-1 pl-3">Location Other:</th>
                    <td>{{ ucfirst(@SESSION.incident->getLocationOther()) }}</td>
                </tr>
                <tr>
                    <th class="pb-1 pl-3">Question:</th>
                    <td>{{ ucfirst(@SESSION.incident->getQuestion()) }}</td>
                </tr>
                <tr>
                    <th class="pb-1 pl-3">Question Other:</th>
                    <td>{{ ucfirst(@SESSION.incident->getQuestionOther()) }}</td>
                </tr>
                <tr>
                    <th class="pb-1 pl-3">Incident Report:</th>
                    <td>{{ ucfirst(@SESSION.incident->getFiledIncidentReport()) }}</td>
                </tr>
                <tr>
                    <th class="pb-1 pl-3">Incident Report Number:</th>
                    <td>{{ @SESSION.incident->getIncidentReportNum() }}</td>
                </tr>
                <tr>
                    <th class="pb-1 pl-3">Comments:</th>
                    <td>{{ @SESSION.incident->getComments() }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<form class="center-text" method="post" action="status">
    <input type="submit" class="submit rounded shadow" id="status-submit" value="Back to Status Page">
</form>
<br><br>

<include href="views/footer.html"></include>

