<include href="views/header.html"></include>

<br><br><br>
<div id="submitted-form" class="content-wrap pt-5 pb-5">
    <div class="card bg-white shadow mx-auto">
        <div class="card-body">
            <h1 class="text-center">Thank You for Your Submission!</h1>
            <hr>
            <h5 class="text-center">You and Your Manager Should Receive a Confirmation Email Shortly. View Your
                Submission Summary
                Below:</h5>
        </div>
    </div>
    <br>


    <div class="card bg-white shadow mx-auto">
        <div class="card-body">
            <h4 class="text-center">Submission Summary:</h4>
            <hr>
            <table id="submissionTable">
                <tbody>
                <tr>
                    <th class="pb-1 pl-3 pr-5">Employee Name:</th>
                    <td>{{ @SESSION.employee->getFirstName() }} {{
                        @SESSION.employee->getLastName() }}
                    </td>
                </tr>
                <tr>
                    <th class="pb-1 pl-3 pr-5">Date:</th>
                    <td>{{ @SESSION.incident->getDateHelped() }}</td>
                </tr>
                <tr>
                    <th class="pb-1 pl-3 pr-5">Position:</th>
                    <td>{{ @SESSION.incident->getPosition() }}</td>
                </tr>
                <tr>
                    <th class="pb-1 pl-3 pr-5">Contact Method:</th>
                    <td>{{ ucfirst(@SESSION.incident->getContactMethod()) }}</td>
                </tr>
                <tr>
                    <th class="pb-1 pl-3 pr-5">Location:</th>
                    <td>{{ ucfirst(@SESSION.incident->getLocation()) }}</td>
                </tr>
                <tr>
                    <th class="pb-1 pl-3 pr-5">Location Other:</th>
                    <td>{{ ucfirst(@SESSION.incident->getLocationOther()) }}</td>
                </tr>
                <tr>
                    <th class="pb-1 pl-3 pr-5">Question:</th>
                    <td>{{ ucfirst(@SESSION.incident->getQuestion()) }}</td>
                </tr>
                <tr>
                    <th class="pb-1 pl-3 pr-5">Question Other:</th>
                    <td>{{ ucfirst(@SESSION.incident->getQuestionOther()) }}</td>
                </tr>
                <tr>
                    <th class="pb-1 pl-3 pr-5">Incident Report:</th>
                    <td>{{ ucfirst(@SESSION.incident->getFiledIncidentReport()) }}</td>
                </tr>
                <tr>
                    <th class="pb-1 pl-3 pr-5">Incident Report Number:</th>
                    <td>{{ @SESSION.incident->getIncidentReportNum() }}</td>
                </tr>
                <tr>
                    <th class="pb-1 pl-3 pr-5">Comments:</th>
                    <td>{{ @SESSION.incident->getComments() }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="ml-auto mr-auto text-center">
    <form action="dashboard">
        <input class="rounded shadow text-decoration-none" id="backToDashboard" type="submit"
               value="Back to Dashboard Page"/>
    </form>
</div>
<br><br>

<include href="views/footer.html"></include>

