/*
Dana Clemmer, Dailee Howard
styles/styles.css
Styles for site/app
*/

/***** Styles across all pages ******/
h1, h3, h4, #newFormButton, #backToDashboard, nav.navbar {
    font-family: BigNoodleTitling, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.green-color {
    background-color: #2c882b;
    border: 2px solid black;
}

body {
    background-color: #80808029;
}

/***** Navbar Styles ******/
nav.navbar a.navbar-brand {
    font-size: 25px;
}

@media (max-width: 480px) {
    nav.navbar a.navbar-brand {
        font-size: 20px;
    }
}

nav.navbar ul {
    font-size: 20px;
}

li.nav-item {
    padding-left: 1em;
}

@media (max-width: 480px) {
    img#grLogo {
        width: 3em;
    }
}

#nav-form {
    padding-left: 0.8em!important;
}


/***** Dashboard Pg Styles ******/
header#dashboard-header {
    height: 20em;
    background: url(../images/Misty-Forest.jpg) no-repeat scroll;
    background-size: cover;
}

header {
    position: relative;
}

header h1 {
    font-size: 5em;
    text-shadow: 5px 5px black;
    position: absolute;
    bottom: 0.9em;
    left: 0;
    right: 0;
}

#newFormButton, #backToDashboard {
    padding: 10px;
    background-color: white;
    border: 1px solid grey;
}

input.submit-form:hover, #newFormButton:hover, #backToDashboard:hover {
    background-color: #2c882b;
}

#newFormButton a, #backToDashboard a {
    color: black!important;
    text-decoration: none;
}

.thick-border {
    border: 3px solid black;
}

.tableWidth {
    width: 80%;
}

.large-font {
    font-size: 30px;
}

#timeColumn {
    width: 45%;
}

/***** Form Pg Styles ******/
header#form-header {
    height: 20em;
    background: url(../images/grc_trail.jpg) no-repeat scroll;
    background-size: cover;
}

input.submit-form {
    background-color: white;
    border: 1px solid grey;
    padding: 4px;
    width: 5em;
}

#formpg, #submitted-form div.card {
    width: 60%;
}

@media (max-width: 1000px) {
    #formpg, #submitted-form div.card {
        width: 80%;
    }
}

@media (min-width: 550px) {
    #inner-form {
        padding-right: 2em;
        padding-left: 2em;
    }
}

form#formpg h1 {
    font-size: 3em;
}

table#submissionTable {
    margin-left: auto;
    margin-right: auto;
}

/***** Login Pg Styles ******/
body, html {
    height: 100%;
}
form#login {
    width: 20em;
    border: 13px solid #000000d9;
    background-color: #2c882bc4;
}

div.login {
    padding: 13em 0 13em 0;
    height: 100%;
    background-image: url(../images/grc.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

@media (max-height: 620px) {
    div.login {
        height: 100%;
    }
}

input.submit-login {
    background-color: black;
    border: none;
}

input.submit-login:hover {
    background-color: white;
    color: black;
    border: none;
}


input.submit-login, input.submit-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1200px) {
    #formpg {
        width: 50%;
    }
}


/***** Logout Styles ******/

li#logout a {
    color: black!important;
    line-height: 46px;
}

li#logout a:hover {
    text-decoration: none;
    text-shadow: 1px 1px lightgrey;
}

a.nav-link:hover {
    text-shadow: 2px 2px black;
}

.fa-sign-out {
    color: black;
}

/***** Footer Styles ******/
footer {
    margin-top: 0;
}

hr.background-white {
    background-color: white;
}

a.hyperlink-removed {
    text-decoration: none;
    color: white;
}

/***** Collapsible Footer Styles *****/

@media (min-width: 1400px) {
    footer {
        padding-left: 12em;
        padding-right: 12em;
    }
}

footer ul {
    padding: 0 0 0;
}

footer ul li, .taber {
    list-style: none;
}

ul > li > a:hover, a:hover {
    color: #d3d9dd;
}

.copyright-text {
    color: #d3d9dd;
    font-size: 13px;
}

footer a.taber {
    font-size: 20px;
    color: white;
    text-decoration: none !important;
}

@media (max-width: 768px) {
    .copyright-text {
        padding-top: 25px;
    }

    .taber {
        cursor: auto;
    }

    div#firstCol {
        padding-bottom: 25px;
    }

    .taber.collapsed:after {
        content: "+";
    }
    .taber:after {
        content: "-";
    }

}
