body {
    padding-top: 3em;
}

#formpg {
    width: 60%;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.thick-border {
    border: 3px solid black;
}

.skinny-border {
    border: 2px solid black;
}

.width-80 {
    width: 80%;
}

.center-table {
    margin-left: auto;
    margin-right: auto;
}

.large-font {
    font-size: 30px;
}

/***** Logout Button Styles ******/
li#logout {
    line-height: 40px;
}

li#logout a {
    margin-left: 13px;
    color: #c50c0c!important;
}

li#logout a:hover {
    color: #b75151!important;
    text-decoration: none;
}

.fa-sign-out {
    color: #c50c0c!important;
}
